body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:sans-serif;
}

#countdown_container {
    display: flex;
    justify-content: center;
}

.first_title_item {
    text-align: center;
}

.count_down_item{
    display: block;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 50%;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.danger{
	background-color: red;
}

@media all and (max-width: 1024px) {
	.main_container{
	  display: block;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  height: auto;
	}
}
